<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true" verbose="true">
  <testsuites>
    <testsuite name="tests">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

  <coverage>
    <include>
      <directory suffix=".php">src/Drivers</directory>
    </include>
    <exclude>
      <directory suffix=".php">src/Commands</directory>
      <directory suffix=".php">src/Exceptions</directory>
      <file>src/autoload.php</file>
    </exclude>
  </coverage>
</phpunit>
